/* 
#EFEFEF gray-white
#F9DC5C golden-rod
#E84855 raspberry
#403F4C slate
#02ADD9 cerulean
 */
 
@media only screen and (min-width : 570px) and (max-width : 768px) {
 /* iPad Portrait */
  #homeSubheader{
   flex-direction: column;
   align-items: center;
  }
 
  #carouselCont, #clubBlurb{
   width: 70% !important;
  }
 
  .card{
   font-size: .7em;
  }
}

@media only screen 
and (min-width : 375px) 
and (max-width : 667px) {/* iPhone 6,7,8 */}

@media only screen and (max-width : 568px) {
  /* iPhone 5,5s */
  #navTitle{
    display: none;
  }
  #homeTitle {
      font-size: 1.5em !important;
  }
  #homeSubheader{
   flex-direction: column;
   align-items: center;
  }
  #carouselCont, #clubBlurb{
   width: 95% !important;
  }
  #homeDetails{
    flex-direction: column;
  }
  #mission, #homeImg1 {
    width: 95% !important;
  }
  #videoDiv {
    flex-direction: column;
  }
  #reshmaCont {
    width: 95% !important;
  }
  #detailsHeader{
    flex-direction: column;
  }
  #detailsRight {
    width: 100% !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #detailsCont {
    flex-direction: column;
    align-items: center;
  }
  .mostWidth, .lessWidth{
    width: 90% !important;
  }
  #facilitators {
    flex-direction: column;
  }
  .card {
    width: 90% !important;
    margin-top: 10px;
  margin-bottom: 10px;
  }
}
 
/* --- Major Styles --- */

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #403F4C;
  color: #EFEFEF;
  font-size: 20px;
}

/* --- Tag Styles --- */

h1, h2, h3{
  color: #F9DC5C;
}

h1, h2{
  font-weight: bold;
}

h1{
  font-size: 2em;
}

h2{
  font-size: 1.5em;
}

h3{
  font-size: 1.2em;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
}

a{
  color: #02ADD9;
  text-decoration: underline;
}

a:hover, a:active{
  color: #E84855;
}

nav{
  position: fixed;
  z-index: 5;
  width: 100%;
}

section{
  padding-top: 45px;
}

/* --- General Styles --- */

.centerText{
  text-align: center;
}

.fitWidth{
  width: 100%;
}

.mostWidth{
  width: 65%;
}

.lessWidth{
  width: 30%
}

.topSpace{
  margin-top: 20px;
}

.boldText{
  font-weight: bold;
}

.redact{
  font-style: italic;
  font-size: .8em;
}

.pastDate{
  text-decoration: line-through;
}

/* --- Navigation Styles --- */

#navInner{
  display: flex;
  justify-content: space-between;
  background: #EFEFEF;
}

#navTitle{
  color: #02ADD9;
  padding: 5px;
  margin-left: 15px;
}

.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.tabs li {
  float: left;
  border-bottom: none;
  background-color: #EFEFEF;
}

.tabs li a {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
}

.tabs li a{
  transition: .3s;
}

.tabs li a:hover {
  color: #F9DC5C;
  border-bottom: 3px solid #F9DC5C;
}

.tabs li.active a{
  border-bottom: 3px solid #02ADD9;
}

.tab_content{
  display: none;
}

/* --- Content Header Styles --- */

.header{
  /* height: 300px; */
  background-color: #EFEFEF;
  padding: 10px;
}

/* --- Home Styles --- */

#homeHeader{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#homeTitle{
  color: #403F4C;
  padding-top: 30px;
  font-size: 2.5em;
}

#homeSubtitle{
  color: #403F4C;
  padding-bottom: 30px;
}

#homeSubheader{
  color: #403F4C;
  display: flex;
  justify-content: center;
}

#clubBlurb, #carouselCont{
  width: 40%;
  padding: 10px;
}

#carouselCont, #carouselCont h2{
  color: #E84855;
}

#carouselSlides{
  text-align: right;
}

a.carousel-control{
  background-color: #E84855;
  height: 28px;
  width: 28px;
  border-radius: 20px;
}

.carousel-item{
  height: 150px;
  width: 92%;
}

#homeDetails{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#homeDetails h3{
  margin-bottom: 10px;
}

#mission, #homeImg1{
  width: 40%;
  padding: 10px;
}

#homeImg1{
  overflow: hidden;
}

#homeImg1 img{
  height: 300px;
}

#videoDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

#reshmaCont{
  width: 30%;
  padding: 10px;
}

/* --- Details Styles --- */

#detailsHeader{
  color: #403F4C;
  display: flex;
  justify-content: space-between;
}

#detailsLeft{
  display: flex;
  flex-direction: column;
  font-size: .8em;
  justify-content: flex-end;
  margin-left: 100px;
}

.quote1st{
  color: rgba(2, 173, 217, .5);
}
.quote2nd{
  color: rgba(2, 173, 217, .7);
  margin-left: 20px;
}
.quote3rd{
  color: rgba(2, 173, 217, 1);
  margin-left: 40px;
}

#detailsRight{
  width: 40%;
  display: flex;
  justify-content: flex-start;
}

.clubInfo{
  min-width: 190px;
  font-size: .8em;
}

#detailsCont{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#schedule{
  text-align: center;
}

#facilitators{
  display: flex;
  justify-content: space-around;
}

#facilitators h3{
  font-weight: bold;
}

.card{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #E84855;
  padding-top: 15px;
}

.teacherTitle{
  text-align: center;
}

.cardText{
  width: 95%;
  padding: 10px;
}

/* --- Contact Styles --- */

#contactCont{
  padding-top: 100px;
  text-align: center;
}

/* --- Footer Styles --- */

footer{
  display: block;
  padding-top: 100px;
  width: 100%;
}

#footerImgDiv{
  display: flex;
  justify-content: center;
}

.logos{
  height: 38px;
  background-color: #EFEFEF;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  margin-left: 5px;
}

.logos:hover{
  background-color: #E84855;
}

#footerTextDiv{
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  text-align: center;
}